body {
	margin: 0;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	background-color: #222;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60px auto;
}
