.header-head {
	display: flex;
	height: 60px;
	padding: 0 1.5%;
	align-items: center;
	justify-content: space-between;
}

.header-link {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}

.header-link:hover {
	color: #375a7f;
    text-decoration: none;
}
