.Header {
	display: flex;
	height: 60px;
	padding: 0 1.5%;
	align-items: center;
	justify-content: space-between;
}

.Header-Link {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}

.Header-Link:hover {
	color: #375a7f;
    text-decoration: none;
}
