.LoginPage {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
}

.LoginPage-Header {
	margin-bottom: .5%;
	font-size: 33px;
	font-weight: 400;
}

.LoginPage-Footer {
	margin-top: 2.5%;
	color: #999;
}