.login-page {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
}

.lp-header {
	margin-bottom: .5%;
	font-size: 33px;
	font-weight: 400;
}

.lp-p {
	margin-top: 2.5%;
	color: #999;
}